.mainDiv{
    background-color: var(--black);
    width: 900px;
    color: var(--white);
    font-family: var(--font-main);
    padding: 50px 0 35px 50px;
    margin-top: 50px;
    /* position: relative; */
}
.mainDiv .vr{
    display: flex;
    flex-direction: column;
}
.mainDiv .vr .hz{
    display: flex;
    justify-content: space-between;
    position: relative; 
    /* width: 100%;         */
    height: 400px;      
    overflow: hidden;   
}
.item{
    display: flex;
    gap:20px;
    align-items: center;
}
.title{
    font-size: var(--meduim-size);
}
.text{
    font-size: var(--x-large-size);
    font-weight: var(--meduim);
    width: 10ch;
}
.icon{
    width: 40px;
    height: 49px;
}
.shop{
    color: var(--white);
    text-decoration: underline;
}
.img{
    width: 37vw;
    height: auto;
}
.slider{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-bottom: 15px;
}

.dot{
    background-color: var(--white);
    opacity: 50%;
    padding: 5px;
    border-radius: 50px;
    border:solid 3px;
}
.dot:hover{
    border: solid 3px var(--white);
    opacity: 100%;
    background-color: var(--red);
}

/* Slides */
.slide {
  opacity: 0;
  position: absolute; 
}