/* mobile screen */
@media (max-width:600px) {
    .img{
        display:none !important;
    }
    .title{
        width: 36ch;
        align-items: center !important;
    }
}
.img{
    width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;

}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  /* horizontal centering between halves */
    margin-bottom: 50px;
}
.title{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: 100%; */
}
.formContent{
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
    gap:10px;

    width: 50%;              
    align-items: center;       
    justify-content: center;   /* center inner content vertically */
}

.formData{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    width: max-content;
    /* width: */
}

.btn{
    background-color: var(--red);
    color: var(--white);
    font-family: var(--font-main);
    border:none;
    border-radius: 4px;
    font-size:var(--meduim-size);
    padding: 15px;
    /* padding-left: 50px;
    padding-right: 50px; */
    /* margin-top: 20px; */
    width: 310px
}

.btn:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.258), rgba(0, 0, 0, 0.258)), var(--red);

}
