/* mobile screen */
@media (max-width:600px) {
    .group{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

/* tablet screen */
@media (min-width: 601px) and (max-width: 1024px)  {
    .group{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
.footer{
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-main);
    padding: 40px 40px 0 40px ;
}

.sectionContent{
    margin: 0 auto;
    max-width: 1300px;
}
#title{
    font-weight: var(--bold);
}
.itemLi{
    padding-bottom: 10px;
    cursor: pointer;
}
#item{
    width: 21ch;
}
.items{
    padding: 0;
}
.group{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
}
.copyRight{
    border-top: gray;
    color: var(--white);
    opacity: 30%;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}
.inputWrapper {
  position: relative;
  display: inline-block;
}

.input {
  background-color: var(--black);
  padding-right: 40px; /* space for the icon */
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  font-family: var(--font-main);
  padding-left: 10px;
}
.sendIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#inputData{
    align-items: center;
    justify-content: center;
    display: flex;
}

#p{
    opacity: 40%;
    font-size: var(--small-size);
}

#imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.apps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}