/* mobile screen */
@media (max-width:600px) {
    .mainNav{
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* tablet screen */
@media (min-width: 601px) and (max-width: 1024px)  {
    .Container{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.mainNav{
    font-family: var(--font-main);
    /* font-size: var( --large-size); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
}
.title:hover{
    text-decoration: none;
}
.mainNav .items{
    display: flex;
    gap: 40px;
}
.mainNav .icons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.mainNav .icons .icon :hover{
    fill: var(--black);
}

a{
    color: var(--black);
}

a:hover, a:active{
    text-decoration: underline;
}


/* search */

.searchNav{
    align-items: center;
    position: relative;
    display: inline-block;
}

.search{
    border: none;
    background-color: var(--light-gray);
    font-size: var(--small-size);
    font-family: var(--font-main);
    padding: 10px;
    width: 243px;
}

.searchButton{
    border: none;
    /* background-color: var(--light-gray); */
    padding: 4px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

