/* mobile screen */
@media (max-width:600px) {
    .btns{
        flex-direction: column !important;
        align-items: center !important;
    }
    .button{
        width: 300px;
        margin-bottom: 20px !important;
        margin-top: 20px !important;
    }
    .payingContainer{
        flex-direction: column !important;
        align-items: center !important;
    }
    .copon{
        flex-direction: column !important;
    }
    .inpt{
        width: 130% !important;
    }
    .total{
        width: 80% !important;
    }
}
.tableContent, .tbContent{
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
    gap:20px;
}

.header, .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 1px var(--light-gray);
    padding: 10px;
}
.cell{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 25ch;
}
.img{
    width: 50px;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button{
    background-color: white;
    font-family: var(--font-main);
    border:solid 1px;
    border-radius: 4px;
    font-size:var(--meduim-size);
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px 0 50px 0;

}

.button:hover{
    background: var(--red);
    border: var(--red);
    color: white;

}
.copon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.inpt{
    padding: 17px;
    width: 40%;
    border-radius: 4px;
    border: solid 1px;
}
.payingContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items:flex-start
}
.total{
    border: solid 1px;
    font-family: var(--font-main);
    width:30%;
    padding:20px;
    margin: 50px 0 50px 0;
}

.hr{
    margin: 0;
}

.item{
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancle{
    background-color: var(--red);
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    margin-bottom: 30px;
    margin-right: 20px;
    width: 10px;
}

.cancle:hover{
    background-color: var(--black);
}