/* mobile screen */
@media (max-width:600px) {
    .container{
        margin: 0 auto;
        max-width: 100px;
    }
    .items{
        display:none;
        visibility: hidden;
    }
}

/* tablet screen */
@media (min-width: 601px) and (max-width: 1024px)  {
    .topHead{
        width: 100%;
    }
}
.topHead{
    background-color: var(--black);
    font-family: var(--font-main);
    font-size: var( --small-size);
    color:var(--white);

    
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;

    margin: 0 auto;
    max-width: 1300px;
}
.topHead .items{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex: 1;
    text-align: center;

    margin: 0 auto;
    max-width: 1300px;
}

.topHead .items .text{
    font-weight: var(--light-weight) !important;
}


.topHead .items .link{
    font-weight: var(--bold-weight) !important;
    color:var(--white);
    text-decoration: underline;
}

.topHead .languge{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    flex: 0;
    /* margin-right: 115px; */
}
.topHead .languge .langugeTitle{
    display: flex;
    gap: 10px;
}
.topHead .languge {
    cursor: pointer;
}
.dropDowns{
    background-color: var(--black);
    position: absolute;
    margin: 30px;
    margin-left:0;
    padding: 10px;
}

.dropDowns a{
    color: var(--white);
}