/* mobile screen */
@media (max-width:600px) {
    .Container{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .timer{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .head{
    }
}

/* tablet screen */
@media (min-width: 601px) and (max-width: 1024px)  {
    .Container{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.container{
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-main);
    padding: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}
.text{
    display: flex;
    flex-direction: column;
}

.button{
    background-color: var(--green);
    color: var(--white);
    font-family: var(--font-main);
    border:none;
    border-radius: 4px;
    font-size:var(--meduim-size);
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px 0 50px 0;
    width: fit-content;
}

.button:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.258), rgba(0, 0, 0, 0.258)), var(--green);
}

.head{
    color: var(--green);
    font-size:var(--meduim-size);
}

.ad{
    font-size:var(--x-large-size);
    width: 15ch;
    font-weight: var(--bold);
}
.circleShadow{
    position: absolute; /* place it behind the image */
    top: 50%;           /* center vertically */
    left: 50%;          /* center horizontally */
    transform: translate(-50%, -50%); /* center exactly */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.478) 0%, rgba(255, 255, 255, 0) 100%);
    width: 500px;
    filter: blur(50px); /* add blur effect */
    height: 500px;
    border-radius: 50%;
    z-index: 0; /* behind the image */
}
.img{
    position: relative; /* so z-index works */
    z-index: 1;         /* above the shadow */
    width: 40vw;
}

.imgcContainer{
    position: relative; /* make it the reference for absolute children */
    width: fit-content;
    height: fit-content;
}

.timer{
    display: flex;
    gap:20px;
    color: var(--black);
}
.item{
    background-color: var(--white);
    border-radius: 50px;
    padding: 0;
    align-items: center;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.itemText2{
    font-size: var(--small-size);
}
.itemText1{
    font-size: var(--meduim-size);
    font-weight: var(--bold);
}