/* mobile screen */
@media (max-width:600px) {
    .arrivals{
      display: flex !important;
      flex-direction: column;
    }
    .arrivals3 {
      width: inherit !important;
    }

    .arrivals4 {
      width: inherit !important;

    }
}

/* tablet screen */
@media (min-width: 601px) and (max-width: 1024px)  {

}

.arrivals{
    margin-bottom: 100px;
    display: grid;
    gap:10px;
    justify-items: stretch; /* make all items fill their cells */
    align-items: stretch;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 420px 240px;  /* two rows with consistent heights */
    box-sizing: border-box;

}
.arrivals1, .arrivals2, .arrivals3, .arrivals4{
    position: relative;
    width: fit-content;
    background-color: var(--black);
    padding-top: 40px;
    padding-left: 40px;
    overflow: hidden;
    border-radius: 4px;

}
.arrivals1 {
  grid-column: 1 / 3; /* spans col 1–2 */
  grid-row: 1 / 3;    /* spans row 1–2 */
}

.arrivals2 {
  grid-column: 3 / 5; /* spans col 3–4 */
  grid-row: 1 / 2;    /* top right */
}

.arrivals3 {
  grid-column: 3 / 4; /* col 3 */
  grid-row: 2 / 3;    /* bottom left of right section */
  padding-left: 106px;
  padding-right: 40px;
}

.arrivals4 {
  grid-column: 4 / 5; /* col 4 */
  grid-row: 2 / 3;    /* bottom right */
  padding-left: 74px;
  padding-right: 20px;

}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.items{
    color: var(--white);
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;

}
.title{
    font-size: var(--large-size);
    font-weight: var(--meduim);
}
.text{
   font-size: var(--small-size); 
   width: 30ch;
}
.shop a{
    font-size: var(--small-size); 
    color: var(--white);
    font-weight: var(--bold);
    text-decoration: underline;
}