.items{
    padding: 0;
    margin-top: 50px;
}
.items .item{
    font-family: var(--font-main);
    font-size: var( --meduim-size);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.items .item .dropDownTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 20px;
}
.items .item .dropDowns{
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.items .item .dropDowns a:hover{
    text-decoration: underline;
}
