.sideNav {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #eee;
  transition: transform 0.3s ease;
}

/* Desktop: always visible */
@media (min-width: 1025px) {
  .sideNav {
    transform: translateX(0);
    /* position: static; */
  }
}

/* Mobile: hidden off-screen until open */
@media (max-width: 1024px) {
  .sideNav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 1000;
    padding: 20px;
  }

  .sideNav.open {
    transform: translateX(0);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
  }

  .overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,.4);
    z-index:1000;
  }
}

.items{
    padding: 0;
    margin-top: 50px;
}
.items .item{
    font-family: var(--font-main);
    font-size: var( --meduim-size);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.items .item .dropDownTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 20px;
}
.items .item .dropDowns{
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.items .item .dropDowns a:hover{
    text-decoration: underline;
}
