/* mobile screen */
@media (max-width:600px) {
    .contactContainer{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .personalDataContainer{
        flex-direction: column !important;
    }
    .personalData{
        width: 90% !important;
    }
    .contactData{
        margin-top: 20px !important;
        margin-bottom: 0 !important;
        width: 80% !important;
    }
    .contactForm{
        width: 80% !important;
        gap: 15px !important;
        padding-top: 50px !important;
        margin-top: 10px !important;
    }
    .msg{
        height: 100% !important;
        width: 90% !important;
    }
    .btnContainer{
        margin-top: 0 !important;
        justify-content: center !important;
    }
}
.contactContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-main);
    margin: 0 auto;
    max-width: 1300px;

}
.contactData, .contactForm{
    border: solid 1px, var(--light-gray);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.img{
    background-color: var(--red);
    padding: 10px;
    border-radius: 20px;
    width: 25px;
    height: 25px
}

.item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    width: 30ch;
}

.hr{
    margin: 0;
}

.contactForm{
    display: flex;
    flex-direction: column;
    width: 66%;
    gap:40px;
    padding: 3%;
}

.personalDataContainer{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.personalData{
    padding: 10px;
    background-color: var(--light-gray);
    border: none;
    border: 4px;
    width: 30%;
    height: 90%;
    font-size: var(--meduim-size);
}

.msg{
    padding: 10px;
    background-color: var(--light-gray);
    border: none;
    border: 4px;
    width: 97.7%;
    font-family: var(--font-main);
    height: 400%;
}
.btnContainer{
    display: flex;
    justify-content: right;
    margin-top: 20%;
}