/* mobile screen */
@media (max-width:600px) {
    .Container{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .category{
        width: 100px !important;
    }
}

/* tablet screen */
@media (min-width: 601px) and (max-width: 1024px)  {
    .Container{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
.category{
    border: 1px solid var(--black);
    border-radius: 4px;
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: var(--font-main);
    font-size:var(--meduim-size);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}
.category:hover{
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
}
.categoryr:hover .icon{
    color: var(--white);
}

.icon{
    color: var(--black);
}